<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Zone</title>
    <link rel="stylesheet" href="/Web_tech/login/codes/assests/css/index.css">
</head>
<body>
    <h1>Game Zone</h1>
    <p>Choose Your Game According to your choice</p>
    <div class="btn-container">
        <div class="line-one">
            <h2>Tic-Tac-Toe</h2>
            <div class="game" id="game1">
                <div class="img1">
                    <img src="/Web_tech/login/codes/assests/image/tic.png" alt="Tic-Tac-Toe">
                </div>
            </div>
            <h2>Simon Says</h2>
            <div class="game" id="game2">
                <div class="img2">
                    <img src="/Web_tech/login/codes/assests/image/simon.png" alt="Simon Says">
                </div>
            </div>
        </div>
        <div class="line-two">
            <h2>Rock-Paper-Scissors</h2>
            <div class="game" id="game3">
                <div class="img3">
                    <img src="/Web_tech/login/codes/assests/image/rock.png" alt="Rock-Paper-Scissors">
                </div>
            </div>
            <h2>Snake</h2>
            <div class="game" id="game4">
                <div class="img4">
                    <img src="/Web_tech/login/codes/assests/image/snake.png" alt="Snake">
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/Web_tech/login/codes/assests/js/index.js"></script>
</body>
</html>
